:host {
  display: block;
  padding: 8px;
}

h2 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2c2c2c;
}

mat-dialog-content {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
  margin-bottom: 10px;
}

mat-dialog-actions {
  margin-top: 12px;
}

button[mat-button] {
  color: #555;
}

button[color='warn'] {
  min-width: 80px;
}

mat-dialog-actions button + button {
  margin-left: 8px;
}
